@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #d8d8d8;
  --primary-200: #b0b0b0;
  --primary-300: #898989;
  --primary-400: #616161;
  --primary-500: #3a3a3a;
  --primary-600: #2e2e2e;
  --primary-700: #232323;
  --primary-800: #171717;
  --primary-900: #0c0c0c;

  --secondary-100: #efece6;
  --secondary-200: #dedacd;
  --secondary-300: #cec7b4;
  --secondary-400: #bdb59b;
  --secondary-500: #ada282;
  --secondary-600: #8a8268;
  --secondary-700: #68614e;
  --secondary-800: #454134;
  --secondary-900: #23201a;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
